body {background-color: $background}

.main-page{
    position: relative;
}

.greeting-nav-bar{
    width: 95%;
    padding: 5px 25px;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.3px solid rgb(218, 238, 180);
}


.navbar-logo {
    color: rgb(218, 238, 180);
    font-family: $text;
    font-size: 30px;
    align-items: center;
    padding-left: 50px;
    display: flex;
    animation: glow 5s ease-in-out infinite ;
};
@keyframes glow{
    from {text-shadow: 0 0 10px yellowgreen, 0 0 20px yellowgreen, 0 0 30px yellowgreen;} //start color
    to {text-shadow: 00 20px yellowgreen, 0 0 20px yellowgreen, 0 0 30px yellowgreen;}
}



.signup-button {
    padding: 10px 5px;
}
.login-button {
    padding: 10px 5px;
}
.sl-buttons{

    width: 25%;
    text-align: right;
}

.su-button {
    font-size: 20px;
    font-family: $text;
    padding-left: 40px ;
    display: flex;

}
.li-button {
    font-size: 20px;
    font-family: $text;
    padding-left: 40px;
    display: flex;

}
#su{
    text-decoration: none;
    color: rgb(218, 238, 180);;
    &:hover{
    text-shadow: 3px 3px yellowgreen
    }
}
#lg{
    text-decoration: none;
    color: rgb(218, 238, 180);;
    &:hover{
        text-shadow: 3px 3px yellowgreen
    }
}

.greeting-textarea{
    resize: vertical; max-height: 600px; min-height: 600px;
    resize: horizontal; max-width:400px; min-width: 400px;
    height: 90%;
    padding-top: 15px;
    padding-left: 25px;
    line-height: 50px;
    border-color: transparent;
    font-size: 25px;
    color: yellowgreen;
    font-family: $text;
    text-shadow: 3px 3px green;
    background: repeating-linear-gradient(
        0,
        $background,
        rgb(218, 238, 180) 3px,
        $background 1px,
        $background 50px
      );
    
}

.bottom-line{
    border-color: rgb(218, 238, 180);
}


