body {background-color: $background}
.main-page{
    position: absolute;
    width: 100%;
}
.greeting-nav-bar{
    width: 100%;
    padding: 5px 25px;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.3px solid rgb(218, 238, 180);
}
.navbar-logo {
    color: rgb(218, 238, 180);
    font-family: $text;
    font-size: 30px;
    align-items: center;
    padding-left: 50px;
    display: flex;
    animation: glow 5s ease-in-out infinite ;
};
@keyframes glow{
    from {text-shadow: 0 0 10px yellowgreen, 0 0 20px yellowgreen, 0 0 30px yellowgreen;} //start color
    to {text-shadow: 00 20px yellowgreen, 0 0 20px yellowgreen, 0 0 30px yellowgreen;}
}
.personal-icons{
    margin-right: 34px;
}
.signup-button {
    padding: 10px 5px;
}
.login-button {
    padding: 10px 5px;
}
.sl-buttons{
    display: flex;
    height: 58px;
    margin-left: 400px;
    padding-top: 10px;
}
.su-button {
    font-size: 20px;
    font-family: $text;
    padding-left: 40px ;
    display: flex;
}
.li-button {
    font-size: 20px;
    font-family: $text;
    padding-left: 40px;
    display: flex;
}
#su{
    text-decoration: none;
    color: rgb(218, 238, 180);;
    &:hover{
    text-shadow: 3px 3px yellowgreen
    }
}
#lg{
    text-decoration: none;
    color: rgb(218, 238, 180);;
    &:hover{
        text-shadow: 3px 3px yellowgreen
    }
}
.middle-section{
    display: flex;
}
.greeting-textarea{
    resize: vertical; max-height: 550px; min-height: 550px;
    resize: horizontal; max-width:547px; min-width: 50%;
    height: 90%;
    padding-top: 15px;
    padding-left: 25px;
    line-height: 50px;
    border-color: transparent;
    font-size: 35px;
    color: yellowgreen;
    font-family: $text;
    text-shadow: 3px 3px green;
    z-index: 99;
    background: repeating-linear-gradient(
        0,
        $background,
        rgb(218, 238, 180) 3px,
        $background 1px,
        $background 50px
      );
}
.gretting-page{
    display: flex;
}
.photo-container{
    top: 0;
    right: 0;
    z-index: 9999;
}
.middle{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    width: 100%;
}
.bottom-line{
    border-color: rgb(218, 238, 180);
}
.stock-photos{
    background-image: image-url('neon_PC.jpg');
    background-size: cover;
    width: 650px;
    height: 81%;
    margin-left: 109%;
    max-height: 600px;
    min-height: 608px;
    resize: both;
    max-width: 500px;
    min-width: 600px;
}    
.side-list{
    display: flex;
    right: 0;
    bottom: 0;
    width: 228px;
    background-color: transparent;
    position: fixed;
    height: 23%;
    width: 100%;
    z-index: -1;
    width: 100%;
}
.selection{
    background: transparent;
    color: #DAEEB4;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
    border-bottom: transparent;
    font-size: 30px;
    padding: 74px;
    z-index: -1;
    margin: auto;
}
.matrix{
    background-image: image-url('matrix.gif');
    background-size: cover;
    width: 1100px;
    height: 81%;
    max-height: 550px;
    min-height: 568px;
    resize: both;
    /* max-width: 500px; */
    min-width: 600px;
    background-size: cover;
}
.cyberpunk{
    background-image: image-url('cyberpunk_purple.gif');
    background-size: cover;
    width: 1100px;
    height: 81%;
    max-height: 550px;
    min-height: 568px;
    resize: both;
    min-width: 600px;
    background-size: cover;
    z-index: 9999;
}
.sky{
    background-image: image-url('sky.gif');
    background-size: cover;
    width: 1100px;
    height: 81%;
    max-height: 550px;
    min-height: 568px;
    resize: both;
    min-width: 600px;
    background-size: cover;
    z-index: 9999;
}
.white{
    background-image: image-url('white.gif');
    background-size: cover;
    width: 1100px;
    height: 81%;
    max-height: 550px;
    min-height: 568px;
    resize: both;
    min-width: 600px;
    background-size: cover;
    z-index: 9999;
}
.gray{
    background-image: image-url('gray.gif');
    background-size: cover;
    width: 1100px;
    height: 81%;
    max-height: 550px;
    min-height: 568px;
    resize: both;
    min-width: 600px;
    background-size: cover;
    z-index: 9999;
}
.selection1{
    background: transparent;
    color: #DAEEB4;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
    border-bottom: transparent;
    font-size: 30px;
    padding: 74px;
    z-index: -1;
    width: 20%;
    &:hover{
        text-shadow: 3px 3px yellowgreen;
        background-color: rgb(243, 13, 243);
    }
}
.selection2{
    background: transparent;
    color: #DAEEB4;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
    border-bottom: transparent;
    font-size: 30px;
    padding: 74px;
    z-index: -1;
    width: 20%;
    &:hover{
        text-shadow: 3px 3px yellowgreen;
        background-color: rgb(199, 180, 11);
    }
}
.selection3{
    background: transparent;
    color: #DAEEB4;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
    border-bottom: transparent;
    font-size: 30px;
    padding: 74px;
    z-index: -1;
    width: 20%;
    &:hover{
        text-shadow: 3px 3px yellowgreen;
        background-color: rgb(18, 181, 245);
    }
}
.selection4{
    background: transparent;
    color: #DAEEB4;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
    border-bottom: transparent;
    font-size: 30px;
    padding: 74px;
    z-index: -1;
    width: 20%;
    &:hover{
        text-shadow: 3px 3px yellowgreen;
        background-color: white;
    }
}
.selection5{
    background: transparent;
    color: #DAEEB4;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
    border-bottom: transparent;
    font-size: 30px;
    padding: 74px;
    z-index: -1;
    width: 20%;
    &:hover{
        text-shadow: 3px 3px yellowgreen;
        background-color: gray;
    }
}
.greeting-textarea1{
    resize: vertical; max-height: 550px; min-height: 550px;
    resize: horizontal; max-width:547px; min-width: 50%;
    height: 90%;
    padding-top: 15px;
    padding-left: 25px;
    line-height: 50px;
    border-color: transparent;
    font-size: 35px;
    color: rgb(243, 13, 243);
    font-family: $text;
    text-shadow: 3px 3px rgb(150, 6, 78);
    z-index: 9999;
    background: repeating-linear-gradient(
        0,
        $background,
        rgb(243, 13, 243) 3px,
        $background 1px,
        $background 50px
      );   
}
.greeting-textarea2{
    resize: vertical; max-height: 550px; min-height: 550px;
    resize: horizontal; max-width:547px; min-width: 50%;
    height: 90%;
    padding-top: 15px;
    padding-left: 25px;
    line-height: 50px;
    border-color: transparent;
    font-size: 35px;
    color: rgb(199, 180, 11);
    font-family: $text;
    text-shadow: 3px 3px rgb(158, 103, 2);
    z-index: 9999;
    background: repeating-linear-gradient(
        0,
        $background,
        rgb(199, 180, 11) 3px,
        $background 1px,
        $background 50px
      );   
}
.greeting-textarea3{
    resize: vertical; max-height: 550px; min-height: 550px;
    resize: horizontal; max-width:547px; min-width: 50%;
    height: 90%;
    padding-top: 15px;
    padding-left: 25px;
    line-height: 50px;
    border-color: transparent;
    font-size: 35px;
    color: rgb(18, 181, 245);
    font-family: $text;
    text-shadow: 3px 3px rgb(2, 57, 158);
    z-index: 9999;
    background: repeating-linear-gradient(
        0,
        $background,
        rgb(18, 181, 245) 3px,
        $background 1px,
        $background 50px
      );   
}
.greeting-textarea4{
    resize: vertical; max-height: 550px; min-height: 550px;
    resize: horizontal; max-width:547px; min-width: 50%;
    height: 90%;
    padding-top: 15px;
    padding-left: 25px;
    line-height: 50px;
    border-color: transparent;
    font-size: 35px;
    color: white;
    font-family: $text;
    text-shadow: 3px 3px gray;
    z-index: 9999;
    background: repeating-linear-gradient(
        0,
        $background,
        white 3px,
        $background 1px,
        $background 50px
      );   
}
.greeting-textarea5{
    resize: vertical; max-height: 550px; min-height: 550px;
    resize: horizontal; max-width:547px; min-width: 50%;
    height: 90%;
    padding-top: 15px;
    padding-left: 25px;
    line-height: 50px;
    border-color: transparent;
    font-size: 35px;
    color: gray;
    font-family: $text;
    text-shadow: 3px 3px black;
    z-index: 9999;
    background: repeating-linear-gradient(
        0,
        $background,
        gray 3px,
        $background 1px,
        $background 50px
      );   
}
.overlook{
    background-image: image-url('overlook_hotel.gif');
    background-size: cover;
    width: 1069px;
    height: 81%;
    max-height: 550px;
    min-height: 568px;
    resize: both;
    min-width: 600px;
    background-size: cover;
    z-index: 9999;
}
.personal-site{
    margin-inline: 10px;
    height: 33px;
    margin-bottom: 1px;
}