// .notetaking-space{


// }

.note-index-items{
    margin-left: 11.5%;
    width: 88.5%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
    background-color: rgb(218, 238, 180);
    border-left: lightgray 3px solid;    
    .header-box{
        font-family: $notes;
        background-color: lightgray;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-bottom: honeydew 1px solid;
        width: 100%;
        height: 146px;
        border-right: white;
        .header-box-h1{
            color: black;
            font-size: 25px;
            font-weight: 400;
            margin-top: 10px;
            margin-left: 10px
        }
        .number-of-notes{
            margin-left: 10px;
            margin-top: 40px;
            margin-bottom: 10px;
            color: black;
            font-size: 15px;
            font-weight: lighter;
        }
    }
    .notes-list{
        background-color: lightgray;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: scroll;
        border-right: white;
        position: relative;
        .note-list-index-items{
            border-bottom: honeydew 1px solid;
            height: 25vh;
            width: 100%;
            padding: 10px 10px 10px 10px;
            .list-header{
                font-family: "Roboto Condensed", sans-serif;
                font-size: 20px;
                margin-top: 10px;
                margin-left: 3px;
                font-weight: 250;
            }
            .time-since-created{
                font-family: $notes;
                font-size: 15px;
                font-weight: 60;
                position: relative;
                margin-top: 60px;
            }
            .note-text{
                margin-top: 19px;
                margin-left: 10px;                
                font-weight: lighter;
            }
            .note-delete-button{
                margin-left: 180px;
                border: none;
                text-decoration: none;
                background-color: transparent;
                color: rgb(112, 110, 106);
                cursor: pointer;
            }
            .single-note-item-side{
                width: 56.5%
            }
        }
        .note-list-index-items:hover{
            background-color: honeydew;
        }
    }
 
    .text-editor-contracted{
        background-color: honeydew;
        position: fixed;
        width: 68.2%;
        height: 100%;
        margin-left: 20%;
        top: 0;
        border: lightgray solid 5px;
    }
    .text-editor{
        background-color: honeydew;
        position: fixed;
        width: 72%;
        height: 100%;
        margin-left: 18%;
        top: 0;
        overflow-x: scroll;

        .edit-area{
           width: 100%;
            height: 31%;
        }
        .tool-bar{
            position: relative;
            background-color: #e2e5de;
            height: 125px;
            #toolbar{
                height: 100%;
                display: flex;
            }
            .ql-formats{
                margin-right: 0px;
                margin-top: 26px;
                border: outset;
            }
            .toolbar-notebook-title{
                    position: absolute;
                    margin: 9px;
                    margin-left: 20px;
                    font-size: 15px;
            }
        }
        .editor-title-bar{
            width: 100%;
            padding-top: 30px;
            padding-bottom: 30px;
            padding-left: 20px;
            justify-content: center;
            #input-box{
                background-color: transparent;
                border: none;
                outline: none;
                text-decoration: none;
                font-size: 30px;
                width: 100%;
            }

        }
        .editor-area{
            border: none;
            outline: none;
            padding-left: 20px;
            padding-right: 20px;
            .ql-container{
                outline: none;
                border: none;
            }
        }
    }
};

.notetaking-space-contracted{
    margin-left: 200px;
}
.tag-area{
    display: flex;
    width: 100%;
    background-color: lightgray;
    position: fixed;
    bottom: 0;
}
.tag-search-bar-container{
    display: flex;
}
.tag-search-bar{
    height: 75%;
}
.tag-area-container{
    position: fixed;
    bottom: 0;
    margin-bottom: 1.5%;
}
// .single-note-item{
//     width: 100%;
// }
// .notes-list-index{
//     width: 100%;
// }